<div class="container">
  <div class="row">
      <h1>Affirmez vos opinions controversées!</h1>

      <textarea autosize rows="1" [minRows]="1" autofocus class="cause" [(ngModel)]="cause" [readOnly]="loading !== states.Waiting"></textarea>

      <div [ngSwitch]="loading" class="cause-acceptation">
          <button *ngSwitchCase="states.Waiting" class="submit-cause" (click)="submitCause()" >Je suis un connard et j'approuve</button>
          <div    *ngSwitchCase="states.Loading" class="loader"></div>
          <div    *ngSwitchCase="states.Done" class="accepted-cause">
            <p>✓ Felicitations vous êtes un connard !</p>
            Partagez cette URL avec un autre connard </br>
            <input readonly type="text" [value]="url"/>
          </div>
      </div>
  </div>
</div>
